html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 10px 2px black inset;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px -5px rgb(167, 86, 86) inset, 0px -10px 10px -5px red inset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding-top: 75px;
  position: relative;
}

body {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  background-color: #212428;
}

.navbar {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar .responsive_navbar {
  display: none;
}
.navbar.navbar-fixed {
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ECF0F3;
  z-index: 9999;
  animation: scrolldown ease-in-out;
  animation-duration: 0.4s;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
@keyframes scrolldown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.navbar .ss-logo {
  max-height: 80px;
}
.navbar .navbar-nav .nav-item {
  margin: 10px 20px;
  transition: 0.3s;
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link.active span {
  background-image: url(../images/fire.gif);
  background-size: cover;
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
}
.navbar .navbar-nav .nav-item .nav-link.active::after {
  width: 100%;
}
.navbar .navbar-nav .nav-item .nav-link span {
  color: #ffffff;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  opacity: 0.8;
  transition: 0.6s;
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link:hover span {
  background-image: url(../images/fire.gif);
  background-size: cover;
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.6s;
}
.navbar .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}
.navbar .navbar-nav .nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: #aaa;
  height: 2px;
  transition: 0.6s;
}
.navbar .navbar-nav .custom-btn {
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 0 0 10px 2px black inset;
  border-radius: 0px 15px 15px 15px;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 35px;
  color: #ff014f;
  font-family: "Poppins", sans-serif;
  transition: 0.6s;
}
.navbar .navbar-nav .custom-btn i {
  font-size: 15px;
}
.navbar .navbar-nav .custom-btn:hover {
  transform: translateY(-7px);
  transition: 0.6s;
  color: #ffffff;
  box-shadow: 0px 10px 10px -5px black inset, 0px -10px 10px -5px rgba(255, 0, 0, 0.3490196078) inset;
}
.navbar .navbar-nav .form-switch-input input[type=checkbox] {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}
.navbar .navbar-nav .form-switch-input input[type=checkbox]:checked ~ .light_dark_toggle_input .moon_icon {
  opacity: 1;
  transform: rotate(-15deg);
}
.navbar .navbar-nav .form-switch-input input[type=checkbox]:checked ~ .light_dark_toggle_input .sun_icon {
  opacity: 0;
  transform: rotate(0deg);
}
.navbar .navbar-nav .form-switch-input input[type=checkbox]:checked ~ .light_dark_toggle_input .checkbox_ball {
  background-color: #c4cfde;
  transform: translate(7px, 0px);
}
.navbar .navbar-nav .form-switch-input .light_dark_toggle_input {
  background: rgba(33, 36, 40, 0.8705882353);
  width: 4.75rem;
  height: 1.875rem;
  box-shadow: 0 0 10px 2px black inset;
  cursor: pointer;
  position: relative;
  transition: background-color 250ms;
  border-radius: 10em;
}
.navbar .navbar-nav .form-switch-input .light_dark_toggle_input .checkbox_ball {
  transform: translate(47px, 0px);
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: -10px 0px 10px -5px black;
  background: #ffbb52;
  transition: background 250ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}
.navbar .navbar-nav .form-switch-input .light_dark_toggle_input .moon_icon {
  font-size: 20px;
  color: #c4cfde;
  opacity: 0;
  transform: rotate(0deg);
  transition: transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}
.navbar .navbar-nav .form-switch-input .light_dark_toggle_input .sun_icon {
  font-size: 20px;
  color: #ffbb52;
  opacity: 1;
  transform: rotate(15deg);
  transition: transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}